<h1>Crud</h1>
<br>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">Correo</th>
      <th scope="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Agregar
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of values">
      <td>{{ item.nombre }}</td>
      <td>{{ item.edad }}</td>
      <td>{{ item.correo }}</td>
      <td>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarModal" (click)="edirUser(item)">
        Editar
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarModal" (click)="deleteUser(item)">
      Eliminar
    </button>
  </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"><!--  -->
      <div class="modal-body">
        
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Edad" aria-label="Username" aria-describedby="basic-addon1" formControlName="edad" [ngClass]="{ 'is-invalid': submitted && f.edad.errors }">
            <div *ngIf="submitted && f.edad.errors" class="invalid-feedback">
              <div *ngIf="f.edad.errors.required">La edad es requerida</div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Correo" aria-label="Username" aria-describedby="basic-addon1" formControlName="correo" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }">
            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
              <div *ngIf="f.correo.errors.required">El email es requerido</div>
              <div *ngIf="f.correo.errors.email">El email no es válido</div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Guardar usuario</button>
      </div>
    </form><!--  -->
    </div>
  </div>
</div>

<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"><!--  -->
      <div class="modal-body">
        
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Edad" aria-label="Username" aria-describedby="basic-addon1" formControlName="edad" [ngClass]="{ 'is-invalid': submitted && f.edad.errors }">
            <div *ngIf="submitted && f.edad.errors" class="invalid-feedback">
              <div *ngIf="f.edad.errors.required">La edad es requerida</div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Correo" aria-label="Username" aria-describedby="basic-addon1" formControlName="correo" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }">
            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
              <div *ngIf="f.correo.errors.required">El email es requerido</div>
              <div *ngIf="f.correo.errors.email">El email no es válido</div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Guardar usuario</button>
      </div>
    </form><!--  -->
    </div>
  </div>
</div>


<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Esta seguro que desea eliminar el usuario {{ userName }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning">Eliminar</button>
      </div>
    </div>
  </div>
</div>